main.main-container {
  height: calc(100vh - 243px);
}

/* pagr not found  */
.page-not-found-container,
.contact-container, .register-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.page-not-found-container {
  background: #ffeeee;
}
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page-not-found h2 {
  font-size: 80px;
}
.page-not-found h1 {
  font-size: 120px;
}

/* register  */
.input-field {
  display: flex;
}
.input-field input {
  width: 100%;
  min-width: 360px;
  padding: 14px;
  font-size: 17px;
  border: 2px solid #333;
}
.input-field input:focus-visible {
  outline: none;
}
form.register {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form.register h2 {
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
